*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#0f172a;
    color:#fff;
}

.top-header{
    width:100%;
    padding:15px 20px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:linear-gradient(90deg,#00c853,#009688);
    position:sticky;
    top:0;
    z-index:999;
}

.logo-box{
    display:flex;
    align-items:center;
    gap:12px;
}

.shop-logo{
    width:60px;
    height:60px;
    border-radius:50%;
    object-fit:cover;
    background:#fff;
}

.logo-box h2{
    font-size:24px;
}

.logo-box p{
    font-size:13px;
}

.logout-btn{
    padding:10px 18px;
    border:none;
    border-radius:10px;
    background:#ff3d00;
    color:#fff;
    font-weight:600;
    cursor:pointer;
}

.hero{
    width:95%;
    margin:20px auto;
    background:#1e293b;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 10px 25px rgba(0,0,0,.3);
}

.banner{
    width:100%;
    height:220px;
    object-fit:cover;
}

.welcome-box{
    padding:20px;
    text-align:center;
}

.welcome-box h1{
    color:#00ff99;
    font-size:30px;
}

.welcome-box p{
    margin-top:10px;
    color:#ddd;
    line-height:1.8;
}

.dashboard{
    width:95%;
    margin:25px auto;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(170px,1fr));
    gap:18px;
}

.card{
    background:#1e293b;
    border-radius:18px;
    text-decoration:none;
    color:#fff;
    text-align:center;
    padding:20px 15px;
    transition:.35s;
    border:1px solid rgba(255,255,255,.08);
}

.card:hover{
    background:#00c853;
    transform:translateY(-6px);
}

.card img{
    width:65px;
    height:65px;
    object-fit:contain;
    margin-bottom:15px;
}

.card h3{
    font-size:18px;
    margin-bottom:8px;
}

.card p{
    color:#ddd;
    font-size:14px;
}

.dashboard-footer{
    margin-top:30
